<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Menú principal</title>
    </head>

    <body>
        <section class="vh-150" style="background-color: #735d78;">
            
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">

                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                          <form method="POST" action="/register">
          
                            <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                              <span class="h1 fw-bold mb-0">Blog</span>
                            </div>
          
                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Regístro</h5>
          
                            <div class="form-outline mb-4">
                              <input type="text" id="form2Example17" class="form-control form-control-lg" name="name" value="<%=locals.name%>" required/>
                              <label class="form-label" for="form2Example17">Nombre</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="username" class="form-control form-control-lg" name="username" value="<%=locals.username%>" required/>
                                <label class="form-label" for="form2Example17">Nombre de usuario</label>
                              </div>

                            <% if (locals.err) { %>
                                <p class="pb-lg-2" style="color: red;">El nombre de usuario ya está en uso</p>
                            <% } %>
          
                            <div class="form-outline mb-4">
                              <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" value="<%=locals.password%>" required/>
                              <label class="form-label" for="form2Example27">Contraseña</label>
                            </div>
          
                            <div class="pt-1 mb-4">
                              <button class="btn btn-dark btn-lg btn-block" type="submit">Crear cuenta</button>
                            </div>
          
                            <p class="mb-5 pb-lg-2" style="color: #393f81;">¿Ya está registrado? <a href="/"
                                style="color: #393f81;">Iniciar sesión</a></p>
                          </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

    </body>
</html>